<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="regist-login">
  <test thread-count="5" name="Test Toko Ijo">
    <classes>
      <class name="com.tokopedia.register.RegistTest"/>
      <class name="com.tokopedia.loginregist.LoginRegistTest"/>
      <class name="com.tokopedia.login.LoginTest"/>
    </classes>
  </test> <!-- Test Toko Ijo -->
</suite> <!-- regist-login -->
