<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="TestSearchShopee">
    <classes>
      <class name="com.shoopee.belajar.Belajar01Search"/>
    </classes>
  </test> <!-- TestSearchShopee -->
</suite> <!-- Suite -->
